.semua {
    border: 5px solid black;
    width: 415px;
    height: 615px;
    margin: auto;
}
.container {
    width: 400px;
    height: 600px;
    padding: 3px;
    border: 5px solid white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr) ;
    justify-content: space-evenly;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.itemhome {
    
    background-color: #42c158;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
   
}
.itemhome img {
    width: 20px;
}
.itempesawat {
    background-color: #4e92ff;
    grid-row: 1 / 1;
    grid-column: 2 / span 2;
}


.container img {
    width: 20px;
}
.itemchat {
    background-color: #efa525;
    grid-column: 2 / 2;
    grid-row: 2 / span 2;
}
.itemcomputer {
    background-color: #844e4e;
    grid-column: 3 / 3;

}
.itemexplorer {
    background-color: #f43d3d;
    grid-column: 1 /1;
    grid-row: 3 / span 2;
    
}
.itemsearch {
    background-color: #f43d3d;
    grid-column: 2 / 2;
    
}
.itemphone {
    background-color: #482acc;
    grid-column: 3 / 3;
    grid-row: 3 / span 2;
    
}
.itemshopping {
    background-color: red;
    grid-column: 1 / span 2;
    grid-row: 5 / 5;
    
}
.itemsearch2 {
    background-color: purple;
    grid-column: 3 / 3;
    grid-row: 5 / 5;
    
}
.itemchat2 {
    background-color: #205bff;
    grid-column: 1 / span 3;
    grid-row: 6 / 6;
    
}




