.container {
    width: 200px;
    margin: ;
    height: 400px;
    border: ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
}
img {
    width: 20px;
}
.container .item1 {
    background-color: #237bff;
    width: 200px;
    height: 200px;
}
.container .item2 {
    background-color: #fe5b20;
    width: 200px;
    height: 200px;
}

.body1 {
    float: left;
}
.container3 {
    width: 200px;
    margin: ;
    height: 100px;
    border: ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
}
.container3 .item1 {
    background-color: #0a9dff;
    height: 100px;
    width: 200px;
    ;
}
.container4 {
    width: 100px;
    margin: ;
    height: 200px;
    border: ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}
.container4 .item1 {
    background-color: #ffd436;
    height: 190px;
    width: 100px;
}
.container4 .item2 {
    background-color: #fe5b20;
    height: 90px;
    width: 100px;
    
}
.container5 {
    width: 100px;
    margin: -10px;
    height: 200px;
    border: ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-top: 20px; 
    float: 
}
.container5 .item1 {
    background-color: #93593e;
    height: 90px;
    width: 90px;
}
.container5 .item2 {
    background-color: #5415cb;
    height: 190px;
    width: 90px;
   
}
.container2 {
    width: 410px;
    margin: ;
    height: 200px;
    border: ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.container2 .item1 {
    width: 310px;
    background-color: #ff0000;
    height: 100px;
}
.container2 .item2 {
    width: 90px;
    background-color: #7616a6;
    height: 100px;
}
.container2 .item3 {
    width: 410px;
    background-color: #2e4aec;
    height: 100px;
}
.semua {
    border: 5px solid black;
    width: 415px;
    height: 630px;
    padding-top: 5px;
    padding-left: 5px;
    margin: auto;
}
body {
    background-color: aqua;
}
h1 {
    text-align: center;
}