:root {
    --background-color-image1: #b0d5ff;
    --background-color-image2: #fffbb5;
    --background-color-image3: #bdfcc7;
    --width-bingkai: 220px;
    --height-bingkai: 300px;
}

body {
    background-color: pink;
}
h1 {
    text-align: center;
}

.container {
    width: 1000px;
    margin: auto;
}
.image-container-baris1 {
    width: var(--width-bingkai);
    height: var(--height-bingkai);
    background-color: var(--background-color-image1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid blue;
}

.image-container-baris1 img {
    width: 220px;
    height: 240px;
    position: absolute;
}
.image-container-baris1 .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 224px;
}

.image-container-baris2 {
    width: var(--width-bingkai);
    height: var(--height-bingkai);
    background-color: var(--background-color-image2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid blue;
}

.image-container-baris2 img {
    width: 220px;
    height: 240px;
}

.image-container-baris2 .image-caption {
    margin-top: -10px;
    text-align: center;    
}


.image-container-baris3 {
    width: var(--width-bingkai);
    height: var(--height-bingkai);
    background-color: var(--background-color-image3);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid blue;
}

.image-container-baris3 img {
    width: 220px;
    height: 240px;
}

.image-container-baris3 .image-caption {
    margin-top: -10px;
    text-align: center;    
}


