body {
    background-color: pink;
}
h1 {
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}
.image-container {
    width: 200px;
    height: 280px;
    background-color: #89cff0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid blue;
}
.image-container img {
    width: 200px;
    height: 220px;
    position: absolute;
}
.image-container .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 200px;
}

.image-caption h3 {
}
