/*
body {
	background-image: url(/assets/background2.png);
	font: 16px/28px arial, sans-serif;
}
.container {
	background-color: azure;
	width: 800px;
	margin: auto;
}
.judul {
	padding: 20px;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
.pertama {
	margin: 20px;
	margin-top: -10px;
	text-align: justify;
}
.judulpresiden {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.listpresiden {
	margin: 20px;
}
.judulprovinsi {
	text-align: center;
	font-weight: bold;
}
.footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

.footer p {
	margin: -5px;
}
*/

.table2 {
}
